#portfolio {
    text-align: center;
    border-width: 10px;
    border-color: black;
}

#creature {
    float: right;
}

#onlinestore {
    
}

#apiproject {
    float: right;
}

#resume {
    text-align: center;
}

