:root {
    --orange: #f98500;
    --yellow: #EBE956;
    --blue: #83C5F3;
    --green: #30EA63;
    --pink: #F1A7D2;
    --red: #EA4953;
    --purple: #8B14C6;
    --gray: #BDBBBE;
    --black: #1D1D1D; 

    --font1: 
    --font2:
    --font3:
}